name: Build, Push & Update Manifest

on:
  workflow_dispatch:

permissions:
  contents: write
  
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        id: build
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            s4sachin/pythonapp:latest
            s4sachin/pythonapp:${{ github.sha }}

      - name: Update Kubernetes manifest with new image
        run: |
          sed -i "s|image:.*|image: s4sachin/pythonapp:${{ github.sha }}|g" k8s-manifest/deployment.yaml

      - name: Commit and push updated manifest
        run: |
          git config user.name "s4Sachin26"
          git config user.email "sforsachin8@gmail.com"
          git add k8s-manifest/deployment.yaml
          git commit -m "Updated image tag to ${{ github.sha }}"
          git push

               
      - name: Set up kubeconfig
        run: |
          echo "${{ secrets.KUBECONFIG_DATA }}" | base64 --decode > $HOME/.kube/config
          chmod 600 $HOME/.kube/config

      - name: Deploy to K3s
        run: |
          kubectl apply -f k8s-manifest/deployment.yaml
