name: Github Actions PipeLine

on:
  workflow_dispatch:

permissions:
  contents: write
  
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r src/requirements.txt
          pip install pytest        

      - name: Run Unit & Integration Tests
        run: |
          pytest -v --maxfail=1 --disable-warnings

      - name: Generate Test Summary
        if: always()
        run: |
          pytest --maxfail=1 --disable-warnings --junitxml=pytest-report.xml
        continue-on-error: true

      - name: Upload Test Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pytest-report
          path: pytest-report.xml
  
  code-analysis:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          projectBaseDir: .
          args: >
            -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }}
            -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }}
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Run Gitleaks to detect secrets
        uses: gitleaks/gitleaks-action@v2
        with:
          config-path: .gitleaks.toml
          args: detect --source . --no-git -v        
          
  build-and-deploy:
    needs: [test, code-analysis]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            s4sachin/pythonapp:latest
            s4sachin/pythonapp:${{ github.sha }}

      - name: Update Kubernetes manifest with new image
        run: |
          echo "Updating deployment.yaml with image s4sachin/pythonapp:${{ github.sha }}"
          sed -i "s|image:.*|image: s4sachin/pythonapp:${{ github.sha }}|g" k8s-manifest/deployment.yaml

      - name: Commit updated manifest
        run: |
          git config user.name "ci-bot"
          git config user.email "ci-bot@users.noreply.github.com"
          git add k8s-manifest/deployment.yaml
          git commit -m "Update image to ${{ github.sha }}" || echo "No changes to commit"
          git push

