apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app-deployment
  labels:
    app: python-app
spec:
  replicas: 2
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
      - name: python-app
        image: s4sachin/pythonapp:v1.0.33
        ports:
        - containerPort: 5000
        readinessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5

---
apiVersion: v1
kind: Service
metadata:
  name: pythonapp-service
spec:
  selector:
    app: python-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: pythonapp-ingress
  namespace: default
  annotations:
    spec.ingressClassName: traefik 
spec:
  rules:
    - host: pythonapp.myk3shomelab.xyz 
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: pythonapp-service  
                port:
                  number: 80

